<div class="chat-container">
  <div class="login-window">
    <h2>Register to Chat</h2>
    <form #registerForm="ngForm">
      <div class="form-group">
        <label for="regUsername">Username (max 12 chars, no special chars)</label>
        <input type="text" id="regUsername" class="input-field" name="username"
          ngModel pattern="^[a-zA-Z0-9]{1,12}$" required />
      </div>

      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" id="fullName" class="input-field" name="name" ngModel required />
      </div>

      <div class="form-group">
        <label for="tel">Telephone Number</label>
        <input type="tel" id="tel" class="input-field" name="tel" ngModel />
      </div>

      <!-- Email Verification -->
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" class="input-field" name="email" ngModel />
      </div>

      <!-- Fediverse ID Verification -->
      <div class="form-group">
        <label for="fediverse">Fediverse ID (&#64;user&#64;server)</label>
        <input type="text" id="fediverse" class="input-field" name="fediverse" ngModel />
      </div>

      <div class="form-group">
        <label for="regPassword">Password</label>
        <input type="password" id="regPassword" class="input-field" name="password" [(ngModel)]="pass" required/>
      </div>

      <div class="form-group">
        <label for="confPassword">Confirm Password</label>
        <input type="password" id="confPassword" class="input-field" name="confPassword" [(ngModel)]="confPass" required/>
      </div>

      @if (pass !== confPass && pass.length > 0) {
        <div class="error-message">
          ❌ Passwords do not match.
        </div>
      }

      <!-- Verification Required Error -->
      @if (false) {
        <div class="error-message">
          ❌ You must provide either an email or a Fediverse ID for verification.
        </div>
      }


      @if (this.success) {
        <div class="error-message">
          ✅ Registration successfull
        </div>
      }
      @if (this.error) {
        <div class="error-message">
          ❌ Registration Error
        </div>
      }
      <button class="login-button" [disabled]="pass !== confPass || pass.length < 4" (click)="do_register(registerForm.value)">Register</button>
      <button type="button" class="guest-button" [routerLink]="'/'">Back to Login</button>
    </form>
  </div>
</div>
