<div class="chat-container">
  <div class="login-window">
    <h2>Set New Password</h2>
    <form #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm.value)">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
          type="password"
          id="newPassword"
          class="input-field"
          name="newPassword"
          [(ngModel)] = "pass"
          required
          />
      </div>
      <div class="form-group">
        <label for="confPassword">Confirm Password</label>
        <input
          type="password"
          id="confPassword"
          class="input-field"
          name="confPassword"
          [(ngModel)] = "confPass"
          required
          />
      </div>
      <!-- Success/Error messages -->
      @if (this.success) {
        <div class="success-message">
          ✅ Password changed
        </div>
      }
      @if (this.error) {
        <div class="error-message">
          ❌ Error
        </div>
      }
      <button class="login-button" [disabled]="pass !== confPass || pass.length < 4" type="submit">Set Password</button>
      <button type="button" class="guest-button" [routerLink]="'/'">Back to Login</button>
    </form>
  </div>
</div>