<div class="chat-container">
  <div class="login-window">
    <h2>Login to Chat</h2>
    <form #form="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" class="input-field" name="username" ngModel />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="input-field" name="password" ngModel />
        <small>
          Keep empty for FIDO2 login
        </small>
      </div>

      <!-- Error message -->
      @if (this.auth.password_error;) {
      <div class="error-message">
        ❌ Incorrect username or password.
      </div>
      }

      <button class="login-button" (click)="do_page_login(form.value)">Login</button>

      <!-- Extra actions -->
      <div class="extra-actions">
        <button type="button" class="link-button" [routerLink]="'/register'">Don't have an account? Register</button>
        <button type="button" class="link-button" [routerLink]="'/forgot-password'">Forgot Password?</button>
      </div>
    </form>

    @if (this.api.public_infos['allow_guest_login']) {
    <div class="separator">or</div>
    <form #form1="ngForm">
      <div class="form-group">
        <label for="guestName">Guest Name</label>
        <input type="text" id="guestName" class="input-field" name="guestName" ngModel />
      </div>
      <!-- Error message -->
      @if (this.auth.guest_error;) {
      <div class="error-message">
        ❌ Invalid username or username already taken.
      </div>
      }
      <button class="guest-button" (click)="do_guest_login(form1.value)">Continue as Guest</button>
    </form>
    }


    <div class="online-count">🟢 {{ this.api.public_infos['num_users'] ?? 0 }} users online</div>
  </div>
</div>