.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5; // Heller Hintergrund für die Zentrierung
}

.login-card {
    max-width: 400px;
    width: 90%;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-form, .guest-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.full-width-field {
    width: 100%;
}

.login-button, .guest-button {
    margin-top: 15px;
    height: 48px;
    font-size: 1rem;
}

.extra-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
    .mat-mdc-button {
        color: var(--mat-primary-600);
        padding: 0;
        min-width: unset;
        font-size: 0.85rem;
    }
}

.error-message {
    color: var(--mat-warn-500);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.9rem;

    .mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
        margin-right: 5px;
    }
}

.separator {
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.separator-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white; /* Passt zur Kartenfarbe */
    padding: 0 10px;
    color: #999;
    z-index: 1;
}

// Stellt sicher, dass der mat-divider unter dem Text liegt
.mat-mdc-divider.separator {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    z-index: 0;
}



.online-count {
    margin-top: 20px;
    text-align: center;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .mat-icon {
        font-size: 14px;
        margin-right: 5px;
    }
}

mat-card-title {
  margin-bottom: 1rem; // oder 16px
}
