/* Stile für die Komponente app-chat-input */

.chat-input-area {
  padding: 10px 20px 0 0;
  border-top: 1px solid #ccc;
  background-color: white;
  flex-shrink: 0; 
}

.chat-input-field {
  width: 100%;
}