<div class="chat-input-area">
  <mat-form-field appearance="fill" class="chat-input-field">
    <textarea
      matInput
      placeholder="Nachricht eingeben..."
      (keydown)="onKeydown($event)"
      [ngModel]="currentMessage()"
      (ngModelChange)="updateMessage($event)"
      autocomplete="off"
      rows="1" 
      cdkTextareaAutosize
      >
    </textarea>
      <button mat-icon-button matSuffix (click)="sendMessage.emit()" aria-label="Senden">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>