<div class="chat-container">
  <mat-card class="forgot-card">

    <mat-card-title>Request Password Reset</mat-card-title>

    <form #requestForm="ngForm" class="forgot-form">

      <!-- USERNAME -->
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          name="username"
          ngModel
          required
        />
      </mat-form-field>

      <div class="separator"></div>

      <!-- EMAIL -->
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          name="mail"
          placeholder="user@example.com"
          ngModel
        />
      </mat-form-field>

      <div class="separator">or</div>

      <!-- FEDIVERSE ID -->
      <mat-form-field appearance="outline" class="full-width-field">
        <mat-label>Fediverse ID</mat-label>
        <input
          matInput
          type="text"
          name="fediverse_id"
          placeholder="@user@mastodon.social"
          ngModel
        />
      </mat-form-field>

      <!-- ---------------------------- -->
      <!--     CONDITIONAL MESSAGES     -->
      <!-- ---------------------------- -->

      @if (success()) {
        <div class="success-message">
          <mat-icon color="primary">check</mat-icon>
          If the information you entered is correct, a reset link was sent to
          your email or Fediverse account.
        </div>
      }

      @if (error()) {
        <div class="error-message">
          <mat-icon color="warn">close</mat-icon>
          Please enter a username and either email or Fediverse ID.
        </div>
      }

      <!-- BUTTONS -->
      <button
        mat-raised-button
        color="primary"
        class="login-button"
        (click)="requestReset(requestForm.value)"
      >
        Send Reset Link
      </button>

      <button
        type="button"
        mat-stroked-button
        color="accent"
        class="guest-button"
        routerLink="/login/"
      >
        Back to Login
      </button>

    </form>
  </mat-card>
</div>
