<form #userMenuForm="ngForm" (ngSubmit)="do_changes(userMenuForm.value)">
  <!-- Editable Fields -->
  <fieldset>
    <legend>Chat Settings</legend>
    <div class="form-group">
      <label for="allow_guest_login">Allow Guest Login</label>
      <input type="checkbox" id="allow_guest_login" name="allow_guest_login"
        [ngModel]="menu_values?.allow_guest_login" />
    </div>
    <div class="form-group">
      <label for="activate_timeout">Activate Timeout</label>
      <input type="checkbox" id="activate_timeout" name="activate_timeout" [ngModel]="menu_values?.activate_timeout" />
    </div>
    <div class="form-group">
      <label for="mandatory_user_verification">Mandatory User Verification</label>
      <input type="checkbox" id="mandatory_user_verification" name="mandatory_user_verification"
        [ngModel]="menu_values?.mandatory_user_verification" />
    </div>
    <div class="form-group">
      <label for="user_verification_mail">User Verification via Mail</label>
      <input type="checkbox" id="user_verification_mail" name="user_verification_mail"
        [ngModel]="menu_values?.user_verification_mail" />
    </div>
    <div class="form-group">
      <label for="user_verification_fediverse">User Verification via Fediverse</label>
      <input type="checkbox" id="user_verification_fediverse" name="user_verification_fediverse"
        [ngModel]="menu_values?.user_verification_fediverse" />
    </div>
    <div class="form-group">
      <label for="announcement_general">Announcement (for all users):</label>
      <textarea id="announcement_general" name="announcement_general" rows="4" cols="40" [ngModel]="menu_values?.announcement_general" ngModel></textarea>
    </div>
    <div class="form-group">
      <label for="announcement_guests">Announcement (for all guests):</label>
      <textarea id="announcement_guests" name="announcement_guests" rows="4" cols="40" [ngModel]="menu_values?.announcement_guests" ngModel></textarea>
    </div>
    <div class="form-group">
      <label for="announcement_registered_users">Announcement (for all registered users):</label>
      <textarea id="announcement_registered_users" name="announcement_registered_users" rows="4" cols="40" [ngModel]="menu_values?.announcement_registered_users" ngModel></textarea>
    </div>
    <div class="form-group">
      <label for="announcement_team">Announcement (for admin team):</label>
      <textarea id="announcement_team" name="announcement_team" rows="4" cols="40" [ngModel]="menu_values?.announcement_team" ngModel></textarea>
    </div>


    <div class="form-group">
      <label for="timeout_time">Timeout time (sec):</label>
      <input id="timeout_time" type="number" name="timeout_time" [ngModel]="menu_values.timeout_time" ngModel />
    </div>
    <div class="form-group">
      <label for="pw_recovery_token_valid_time">Passwort recovery link time (sec):</label>
      <input id="pw_recovery_token_valid_time" type="number" name="pw_recovery_token_valid_time" [ngModel]="menu_values.pw_recovery_token_valid_time" ngModel />
    </div>
    <div class="form-group">
      <label for="pw_min_len">Min Password Length:</label>
      <input id="pw_min_len" name="pw_min_len" type="number" [ngModel]="menu_values.pw_min_len" ngModel />
    </div>
    <div class="form-group">
      <label for="fediverse_id">Fediverse ID:</label>
      <input id="fediverse_id" name="fediverse_id" [ngModel]="menu_values.fediverse_id" ngModel />
    </div>
    <div class="form-group">
      <label for="login_msg">Login Message:</label>
      <input id="login_msg" name="login_msg" [ngModel]="menu_values.login_msg" ngModel />
    </div>
    <div class="form-group">
      <label for="logout_msg">Logout Message:</label>
      <input id="logout_msg" name="logout_msg" [ngModel]="menu_values.logout_msg" ngModel />
    </div>
    <div class="form-group">
      <label for="password">Change Password:</label>
      <input id="password" type="password" name="password" ngModel />
    </div>
    <div class="form-group">
      <label for="password2">Confirm Password:</label>
      <input id="password2" type="password" name="password2" ngModel />
    </div>
    <div class="form-actions">
      <span class="form-note">
        @if (this.error) {
        <div>Error: Username must match with HTML</div>
        }
      </span>
      <div class="button-group">
        <button type="submit" [disabled]="userMenuForm.value.password !== userMenuForm.value.password2">
          Save
        </button>
        <button type="button" (click)="closeEvent.emit()">Close</button>
      </div>
    </div>
  </fieldset>